.icon {
    /* color: rgb(81, 190, 81); */
    font-size: 70px;
}

.bit-content-container {
    width: 500px;
    transition: transform 0.25s;
    cursor: pointer;
}

.bit-content {
    -webkit-animation: fadein 0.5s;
            animation: fadein 0.5s;
}

@keyframes fadein {
    from { opacity: 0; top:80px;}
    to   { opacity: 1; top:0px;}
}

@-webkit-keyframes fadein {
    from { opacity: 0; top:80px;}
    to   { opacity: 1; top:0px;}
}

.round-start {
    border-radius: 10px 0px 0px 10px !important;
}

.round-end {
    border-radius: 0px 10px 10px 0px !important;
}

.round-top-right {
    border-top-right-radius: 10px !important;
}

.round-bottom-right {
    border-bottom-right-radius: 10px !important;
}

.round {
    border-radius: 10px !important;
}

.hint {
    max-width: 700px;
}

.bit-content-container:hover {
    transform: scale(1.05, 1.05);
    transition: transform 0.25s;
}